# LaTeX stuff
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.llt
*.log
*.pdf
*.tex.backup
*.obj
arxiv.*

# Python/figure stuff
*.pyc
*.fits
*.dat
*.par
*.asc
hd20010.py

lineStability
figures/*.moog
*.txt
*.moog

# Elisa's stuff
Li_hot3.tex
edm_bibliography.bib
